{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row small-padding">
        <div class="col-sm col-md">
            <h1 class="content-title-center">Manage Site Details</h1>
        </div>
    </div>
    {% if request.user.is_authenticated and request.user.is_staff %}
        <div class="row mb-3">
            <div class="col-sm col-md-6">
                <nav class="nav d-none d-lg-block flex-column list-group">
                    <h5 class="list-group-item list-group-item-action active btn-primary text-light">Manage Site
                        Pages</h5>
                    {% for page in pages %}
                        <a class="list-group-item list-group-item-action" href="{% url 'edit_page' page.id %}"><i
                                class="fa fa-pencil-square-o"
                                aria-hidden="true"></i>
                            Edit page {{ page.title }} </a>
                    {% endfor %}
                    <a class="list-group-item list-group-item-action" href="#"><i class="fa fa-usd"
                                                                                  aria-hidden="true"></i>
                        Add New Stripe Subscription </a>
                    {#                    <a class="list-group-item list-group-item-action" href="{% url 'create_video_class' %}"> <i#}
                    {#                            class="fa fa-video-camera"#}
                    {#                            aria-hidden="true"></i>#}
                    {#                        Create Video Class</a>#}
                </nav>
                <u class="btn btn-primary dropdown-toggle d-block d-lg-none mb-1" data-bs-toggle="dropdown" href="#"
                   role="button"
                   aria-haspopup="true" aria-expanded="false">Manage Site Pages</u>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'write_article' %}"><i
                            class="fa fa-pencil-square-o"
                            aria-hidden="true"></i>
                        Write new article </a>
                    <a class="list-group-item list-group-item-action" href="{% url 'create_video_class' %}"> <i
                            class="fa fa-video-camera"
                            aria-hidden="true"></i>
                        Create Video Class</a>
                </div>
            </div>
            <div class="col-sm col-md-6">
                <nav class="nav d-none d-lg-block flex-column list-group">
                    <h5 class="list-group-item list-group-item-action active btn-dark">Manage content</h5>
                    <a class="list-group-item list-group-item-action" href="{% url 'write_article' %}"><i
                            class="fa fa-pencil-square-o"
                            aria-hidden="true"></i>
                        Write new article </a>
                    <a class="list-group-item list-group-item-action" href="{% url 'create_video_class' %}"> <i
                            class="fa fa-video-camera"
                            aria-hidden="true"></i>
                        Create Video Class</a>
                </nav>
                <u class="btn btn-dark dropdown-toggle d-block d-lg-none" data-bs-toggle="dropdown" href="#"
                   role="button"
                   aria-haspopup="true" aria-expanded="false">Manage Content</u>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'write_article' %}"><i
                            class="fa fa-pencil-square-o"
                            aria-hidden="true"></i>
                        Write new article </a>
                    <a class="list-group-item list-group-item-action" href="{% url 'create_video_class' %}"> <i
                            class="fa fa-video-camera"
                            aria-hidden="true"></i>
                        Create Video Class</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}