{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row small-padding">
        <div class="col-sm col-md">
            <h1 class="content-title-center">The Learning Hub</h1>
            <h3 class="content-title-center">The best place to improve your skills.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 col-md-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Articles</div>
                <div class="card-body">
                    <h4 class="card-title">Checkout more Articles</h4>
                    <p class="card-text"><a href="{% url 'articles' %}">Check latest articles</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Courses</div>
                <div class="card-body">
                    <h4 class="card-title">Checkout All our courses</h4>
                    <p class="card-text"><a href="#">Check latest articles</a></p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}