{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row small-padding">
        <div class="col-sm col-md">
            <h1 class="content-title-center">Browse for Content</h1>
        </div>
    </div>
    <div class="row">
        {% if request.user.is_authenticated and request.user.is_staff %}
            <div class="col-sm">
                <nav class="nav d-none d-lg-block flex-column list-group">
                    <h5 class="list-group-item list-group-item-action active">Manage content</h5>
                    <a class="list-group-item list-group-item-action" href="{% url 'write_article' %}"><i
                            class="fa fa-pencil-square-o"
                            aria-hidden="true"></i>
                        Write new article </a>
                    <a class="list-group-item list-group-item-action" href="{% url 'create_video_class' %}"> <i
                            class="fa fa-video-camera"
                            aria-hidden="true"></i>
                        Create Video Class</a>
                    {#                    <a class="list-group-item list-group-item-action" href="#"><i class="fa fa-graduation-cap"#}
                    {#                                                                                  aria-hidden="true"></i>#}
                    {#                        Build Course Curriculum</a>#}
                </nav>
                <u class="nav-link dropdown-toggle d-block d-lg-none" data-bs-toggle="dropdown" href="#"
                   role="button"
                   aria-haspopup="true" aria-expanded="false">Manage Content</u>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'write_article' %}"><i
                            class="fa fa-pencil-square-o"
                            aria-hidden="true"></i>
                        Write new article </a>
                    <a class="dropdown-item" href="#"> <i class="fa fa-video-camera"
                                                          aria-hidden="true"></i>
                        Create Video Class</a>
                    {#                    <a class="dropdown-item" href="#"><i class="fa fa-graduation-cap"#}
                    {#                                                         aria-hidden="true"></i>#}
                    {#                        Build Course Curriculum</a>#}
                </div>
            </div>
        {% endif %}
        <div class="col-sm col-md-10 col-lg-10">
            {% if search_result %}
                {% for content in search_result %}
                    {% if content.video_path %}
                        {% include 'includes/learning_area_video_class_cards.html' with content=content %}
                    {% else %}
                        {% include 'includes/learning_area_article_cards.html' with article=content %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {# Return default message with empty page#}
                <div class="col-sm col-md-4 col-lg-6">
                    <div class="card border-danger mb-3" style="max-width: 20rem;">
                        <div class="card-header"> Nothing found, try again.</div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}