{% load crispy_forms_tags %}
<div class="row">
    <form method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data">
        {% crispy file_form %}
    </form>

    <div class="row">
        {% for f in files %}
            <div class="col-lg-2 col-md-3 col-sm pb-4">
                <div class="card border-primary h-90 p-2">
                    <img src="{{ f.file.url }}" class="d-block user-select-none">
                    <input id="file_path" class="text-white bg-primary overflow-hidden"
                           value="{{ f.file.url }}">
                    <button type="button" class="btn btn-sm btn-primary d-inline-block m-1"
                            onclick="readClipBoardText()"><i
                            class="fa fa-clipboard" aria-hidden="true"></i>
                    </button>
                    <a class="btn btn-danger d-inline-block m-1" href="{% url 'delete_file' f.id %}">
                        <i class="fa fa-trash-o" aria-hidden="true"></i> </a>
                </div>
            </div>
        {% empty %}
            <p>no file uploaded were yet.</p>
        {% endfor %}
    </div>
</div>