<div class="col-sm col-md-5 col-lg-5 d-md-inline-block">
    <div class="card border-primary mb-3">

        <div class="card-header">
            <a class="card-title" href="{% url 'video_class'  content.id %}">{{ content.title }}</a>
            <i class="fa fa-video-camera float-end" style=" font-size: 1.5rem" aria-hidden="true"></i>
        </div>
        <div class="card-body">
            <span class="badge bg-success">{{ content.topic }}</span>
            <p class="card-title">{{ content.description }}</p>
            <p class="card-text"><a href="{% url 'video_class' content.id %}">Read More</a></p>
        </div>
        {# Manage Article Dropdown #}
        {% if request.user.is_staff %}
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Manage Video Class
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                    <a class="dropdown-item" href="{% url 'edit' content.id %}">Edit <i
                            class="fa fa-pencil" aria-hidden="true"></i></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'delete' content.id %}">Remove
                        <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </div>
            </div>
        {% endif %}
    </div>
</div>