<footer class="teal lighten-2 black-text">
    <div class="footer-copyright">
        <div class="container">
            <a class="black-text right" href="https://github.com/diogo-pessoa" target="_blank">Maintained by <b>diogo-pessoa</b> <i class="fa fa-github-alt" aria-hidden="true"></i></a>
            <a class="black-text" href="https://github.com/diogo-pessoa/TheLearningHub/issues"
               target="_blank"> <i class="fa fa-bug" aria-hidden="true"></i> Report an Issue</a>
        </div>
    </div>
</footer>