<header>
    <div class="navbar-fixed ">
        <nav>
            <div class="nav-wrapper teal lighten-2 black-text">
                <a href="#!" class="brand-logo black-text">The Learning Hub</a>
                <ul class="right">
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="fa fa-user-circle black-text"
                                                                                         aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
            </ul>
        </nav>
    </div>
</header>

