<nav>
    <div class="nav-wrapper teal lighten-2 black-text">
        <a href="/" class="brand-logo black-text center">LearningHub</a>
        <ul>
            <li>
                <a href="#" class="dropdown-trigger waves-effect white-text"
                   data-target="dropdown-nav-profile"><i
                        class="fa fa-user-circle black-text"
                        aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav>
<!-- Dropdown Structure -->
<ul id="dropdown-nav-profile" class="dropdown-content teal lighten-5">
    {% if request.user.is_authenticated %}
        <li><a href="#" class="black-text">Profile</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'account_logout' %}" class="black-text">logout</a></li>
    {% else %}
        <li><a href="{% url 'account_login' %}" class="black-text">Login</a></li>
        <li><a href="{% url 'account_signup' %}" class="black-text">Sign-up</a></li>
    {% endif %}
</ul>
