<div class="card-body">
<div class="row small-padding">
        <div class="col-sm">
            <h3 class="content-title-center"><strong>Saved for Later</strong> list</h3>
        </div>
    </div>
    <div class="col-sm">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Content Title</th>
            <th scope="col"> Go to Content</th>

        </tr>
        </thead>
        <tbody>
        {# TODO color code (light/dark) to table to make it easier to read content #}
        {% if bookmarks %}
            {% for bookmark in bookmarks %}
                {%  if bookmark.type == 'article' %}
                    <tr class="table-active">
                {% elif bookmark.type == 'video'  %}
                    <tr class="table-light">
                {% else %}
                    <tr class="table-info">
                {% endif %}
                <th scope="row">{{ bookmark.type }}</th>
                <td><strong>{{ bookmark.content_title }}</strong></td>
                <td><a href="{{ bookmark.content_path }}" class="btn btn-primary">Go to content</a></td>
            </tr>

            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    </div>
</div>