<div class="card-body">
    <h4 class="card-title">Personal Details</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>

</div>
<div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Update your personal Information</h6>
    <a class="btn b btn-primary" href="{% url 'account_email' %}">manage emails</a>
    <a class="btn b btn-primary" href="{% url 'account_change_password' %}">change password</a>
</div>

