<div class="card-body">
    <div class="col-sm">
        <h3 class="content-title-center"><strong>My Saved Notes</strong></h3>
    </div>
</div>
<div class="col-sm mb-3">
    {% if notes %}
        <div class="accordion" id="NotesAccordion">
            {% for note in notes %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="accordionHeading{{ forloop.counter }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false"
                                aria-controls="collapse{{ forloop.counter }}">
                            {{ note.video_class.title }}
                        </button>
                    </h2>
                    <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                         aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <strong>Go to class: </strong><a
                                href="/video_class/{{ note.video_class.id }}">{{ note.video_class.title }}</a>
                            <div class="row mt-2">
                                {% autoescape off %}
                                    {{ note.content }}
                                {% endautoescape %}

                            </div>
                        </div>
                    </div>
                </div>
                </div>
            {% endfor %}
    {% else %}
        <div class="col-sm">
            <h4 class="content-title-center">You Have no saved notes, Get ahead by exploring some more content now!</h4>
            <div class="col-sm d-grid gap-2 mb-3">
                <a href="{% url 'learning_area' %}" class="btn btn-lg btn-info" type="button">Browse content</a>
            </div>
        </div>
    {% endif %}
</div>
