{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row small-padding">
        <div class="col-sm">
            <h1 class="content-title-center"> <span class="text-capitalize">{{ request.user }}</span>'s Personal Area</h1>
        </div>
    </div>
    <div class="row no-gutters">
        <ul class="nav nav-tabs">
            {# Tab list #}
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#personal_info"><span class="d-none d-sm-block">User Details</span><i class="fa fa-user-circle d-md-none d-lg-none" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#bookmarks"><span class="d-none d-sm-block">Bookmarks</span><i class="fa fa-bookmark d-md-none d-lg-none" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#saved_notes"><span class="d-none d-sm-block">My Notes</span><i class="fa fa-sticky-note d-md-none d-lg-none" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#orders"><span class="d-none d-sm-block">Order History</span><i class="fa fa-history d-md-none d-lg-none" aria-hidden="true"></i></a>
            </li>
        </ul>
        {# Tab content #}
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="personal_info">
                <div class="card mb-3">
                    {% include 'includes/personal_information.html' %}
                </div>
            </div>
            <div class="tab-pane fade" id="orders">
                <div class="card mb-3">
                    {% include 'includes/order_history.html' %}
                </div>
            </div>
            <div class="tab-pane fade" id="bookmarks">
                <div class="card mb-3">
                    {% include 'includes/bookmarks.html' %}
                </div>
            </div>
            <div class="tab-pane fade" id="saved_notes">
                <div class="card mb-3">
                    {% include 'includes/saved_notes.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}