{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    {# back buton     #}
    <div class="row small-padding custom-inline-flex">
        <a class="btn btn-lg btn-primary" href="{% url 'learning_area' %}"><i
                class="fa fa-arrow-left" aria-hidden="true"></i> Back for more content</a>
    </div>
    <div class="row justify-content-center">

        <div class="content-title-center">
            <div class="row">
                <div class="col-sm">
                    {% if request.user.is_authenticated %}
                        {% if  user_bookmark %}
                            <a type="button" href="{% url 'remove_video_bookmark' user_bookmark.first.id %}"
                               class="btn btn-outline-success d-flex float-start">Bookmark <i
                                    class="fa fa-star" aria-hidden="true"></i></a>
                        {% else %}
                            <form class="d-flex float-start" method="POST" action="{% url 'add_video_bookmark' %}">
                                {% csrf_token %}
                                <input class="form-control me-sm-2" type="text"
                                       name="video_class_id" value="{{ video_class.id }}" hidden>
                                <button class="btn btn-outline-dark" type="submit">Bookmark <i
                                        class="fa fa-star"
                                        aria-hidden="true"></i></button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <h5>{{ video_class.title }}</h5>
            <p>{{ video_class.description }}</p>
        </div>
        <div class="row">
            <div class="col-sm col-md col-lg">
                <div class="embed-responsive embed-responsive-16by9 mb-3">
                    <video class="embed-responsive-item" src="{{ video_class.video_path.url }}" controls muted></video>
                </div>
            </div>
            {% if request.user.is_authenticated %}
                <div class="col-sm col-md-6 col-lg-6">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header">My Notes on This class</div>
                        <div class="card-body">
                            <form method="post" action="{% url 'video_class' video_class.id %}">
                                {% crispy form %}
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}