{% extends "base.html" %}
{% load static %}

{% block content %}
    {# back buton     #}
    <div class="row small-padding custom-inline-flex">
        <a class="btn btn-lg btn-primary" href="{% url 'articles' %}"><i
                class="fa fa-arrow-left" aria-hidden="true"></i> Back for more content</a>
    </div>
    <div class="row justify-content-center">

        <div class="content-title-center">
            <h5>{{ video_class.title }}</h5>
            <p>{{ video_class.description }}</p>
        </div>
        <div class="col-sm col-lg-8">
            <div class="embed-responsive embed-responsive-16by9 mb-3">
                <video class="embed-responsive-item" src="{{ video_class.video_path }}" controls muted></video>
            </div>
        </div>

        <div class="col-sm col-lg-8">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">My Notes on This class</div>
                <div class="card-body">
                    <form>
                        #TODO Pending personal Notes form
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}