{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <h3 class="center-block">Browse Articles below</h3>
        {# write New article button #}
        <div class="row">
            {% if request.user.is_authenticated and request.user.is_staff %}
                <div class="col-sm-1 col-md-4">
                    <a href="{% url 'write_article' %}" class="btn btn-danger btn-sm"> <i
                            class="fa fa-pencil-square-o"
                            aria-hidden="true"></i>
                        Write new article </a>
                </div>
            {% endif %}
        </div>

        <div class="row">
            {% if articles %}
                {% for article in articles %}
                    {#  #TODO Show restricted_access False and Draft False to any User                       #}
                    {#  #TODO Show Draft False to any restricted_access True - to Logged in users                        #}
                    {#  #TODO Show Draft True to any restricted_access True - to Staff Users only                        #}
                    <div class="col-sm col-md-4 col-lg-6">
                        <div class="card text-white bg-primary mb-3">
                            <a class="card-header" href="{% url 'article'  article.id %}">{{ article.title }}</a>
                            <div class="card-body">
                                <span class="badge bg-success">{{ article.topic }}</span>
                                <p class="card-title">{{ article.description }}</p>
                                <p class="card-text"><a href="{% url 'article' article.id %}">Read More</a></p>
                            </div>
                            {# Manage Article Dropdown #}
                            {% if request.user.is_staff %}
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Manage
                                        Article
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                        <a class="dropdown-item" href="{% url 'edit_article' article.id %}">Edit <i
                                                class="fa fa-pencil" aria-hidden="true"></i></a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'delete_article' article.id %}">Remove
                                            <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-sm col-md-4 col-lg-6">
                    <div class="card border-danger mb-3" style="max-width: 20rem;">
                        <div class="card-header"> No published Articles at the moment, comeback
                            later!
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}