{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h3 class="center">Browse Articles below</h3>
        <div class="row">
            {% for article in articles %}
                {% if not article.draft %}
                    <div class="col s12 m4">
                        <div class="card horizontal">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h5 class="card-title center">{{ article.title }}</h5>
                                </div>
                                <div class="card-content">
                                    <p>{{ article.description }}</p>
                                </div>
                                <div class="card-action">
                                    <a href="{% url 'article'  article.id %}">Read More</a>
                                    {% if request.user.is_authenticated and request.user.is_superuser or request.user == article.author %}
                                        <div class="right">
                                            <a href="#" class="btn-floating btn-small waves-effect waves-light red"><i
                                                    class="fa fa-pencil" aria-hidden="true"></i></a>
                                            <a href="{% url 'delete_article' article.id %}" class="btn-floating btn-small waves-effect waves-light red"><i
                                                    class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}