{% extends "base.html" %}
{% load static %}

{% block content %}
    {# back buton     #}
    <div class="row small-padding custom-inline-flex">
        <a class="btn btn-lg btn-primary" href="{% url 'learning_area' %}"><i
                class="fa fa-arrow-left" aria-hidden="true"></i> Back for more content</a>
    </div>
    <div class="row">
        {# Article Actions menu sidebad     #}
        {% if request.user.is_authenticated and request.user.is_staff %}
            <div class="col-sm col-md-2 col-lg-3">
                <nav class="nav d-none d-lg-block flex-column list-group">
                    <h5 class="list-group-item list-group-item-action active">Manage Article</h5>
                    <a class="list-group-item list-group-item-action" href="{% url 'edit_article' article.id %}"><i
                            class="fa fa-pencil" aria-hidden="true"></i> Edit Article</a>
                    <a class="list-group-item list-group-item-action"
                       href="{% url 'delete_article' article.id %}"><i
                            class="fa fa-trash-o" aria-hidden="true"></i> Delete Article</a>
                </nav>
                <u class="nav-link dropdown-toggle d-block d-lg-none" data-bs-toggle="dropdown" href="#"
                   role="button"
                   aria-haspopup="true" aria-expanded="false">Manage Content</u>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"> <i class="fa fa-video-camera"
                                                          aria-hidden="true"></i>
                        Create Video Class</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-graduation-cap"
                                                         aria-hidden="true"></i>
                        Build Course Curriculum</a>
                    <a class="list-group-item list-group-item-action" href="{% url 'edit_article' article.id %}"><i
                            class="fa fa-pencil" aria-hidden="true"></i> Edit Article</a>
                    <a class="list-group-item list-group-item-action"
                       href="{% url 'delete_article' article.id %}"><i
                            class="fa fa-trash-o" aria-hidden="true"></i> Delete Article</a>
                </div>
            </div>
        {% endif %}
        <div class="col-sm">
            <div class="row">
                <div class="col-sm col-md col-lg">
                    <div class="row">
                        <div class="col-sm">
                            <h1 class="content-title-center">{{ article.title }}</h1>
                            <p class="d-inline-block float-md-end"><strong>Created By:</strong> <a
                                    href="#"> {{ article.author }} </a></p>
                            <p class="d-inline-block"><strong>Date:</strong> <span>{{ article.last_update_at | date:"d-m-Y" }}</span>
                            </p>
                            <p><span class="badge bg-success">{{ article.topic }}</span></p>
                            <p>
                                {% if request.user.is_authenticated %}
                                    {% if  user_bookmark %}
                                        <a type="button" href="{% url 'remove_bookmark' user_bookmark.first.id %}"
                                           class="btn btn-outline-success">Bookmark <i
                                                class="fa fa-star" aria-hidden="true"></i></a>
                                    {% else %}
                                        <form class="d-flex" method="POST" action="{% url 'add_bookmark' %}">
                                            {% csrf_token %}
                                            <input class="form-control me-sm-2" type="text" placeholder="Search"
                                                   name="article_id" value="{{ article.id }}" hidden>
                                            <button class="btn btn-outline-dark" type="submit">Bookmark <i
                                                    class="fa fa-star"
                                                    aria-hidden="true"></i></button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% autoescape off %}
                        {{ article.content }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}